.userPhoto {
    width: 80px;
    height: 80px;
}

.avaContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.numberOfPage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 40px;
    & span {
        transition: all .15s ease;
        padding: 3px;

        &:hover {
            color: aqua;

            font-size: 29px;
        }
    }
}

.selectedPage {
    letter-spacing: -1px;
    font-weight: bold;
    font-size: 28px;
    color: aqua;
}

.buttonFollow {
    background: green;
    transition: .5s ease;
}
.buttonUnfollow{
    background: red;
    transition: .5s ease;
}