.postsBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.myPost {
    display: flex;
    column-gap: 7px;
    flex-direction: column;
    max-width: 400px;

}

.myPost__containerInput {
    width: 100%;

}

.myPost__input {
    width: 100%;

}

.myPost__containerButton {
    display: flex;

}

.myPost__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 18px;
    background: #000000;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 5px;

}