.header {
    background-color: rgb(44, 48, 52);
    grid-area: header;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.header img {

    animation: rotate 13s linear 0s infinite;
    width: 50px;
    height: 50px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}