.nav {
    background-color: rgb(67, 59, 59);
    grid-area: nav;
    padding: 20px;
}

.item a{
    color: inherit;
    text-decoration: none;

}
 
.item {
    margin-bottom: 10px;
    color: #fff;
}
.item a.activeLink {
    color: blueviolet;
}