
.app-wrapper {
  width: 1200px;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-areas: 
  "header header"
  "nav content";

}

.header {
  background-color: rgb(44, 48, 52);
  grid-area: header;
  .logo-roto {
    width: 50px;
    animation: rotate 13s ease  infinite;
  }
}

.nav {
  background-color: bisque;
  grid-area: nav;
}

.content {
  background-color: #6728d4;
  grid-area: content;
  
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}