.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: blueviolet;
}

.dialog {
    margin-bottom: 5px;
}
.dialog a {
    color: #fff;
    text-decoration: none;
    &:hover{
        transition: all .15s ease;
        color: gray;
    }
}

.messages {
    padding: 10px;
}

.message {
    color: #ffffff;
}

